################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DW2Randomizer/.vs/DW2Randomizer/v15/Server/sqlite3/db.lock
/DW2Randomizer/.vs/DW2Randomizer/v15/Server/sqlite3/storage.ide
/DW2Randomizer/.vs/DW2Randomizer/v15/Server/sqlite3/storage.ide-shm
/DW2Randomizer/.vs/DW2Randomizer/v15/Server/sqlite3/storage.ide-wal
/DW2Randomizer/bin/Debug/DW2Randomizer.zip
/.vs/ProjectSettings.json
